<section class="section projects-section">
        <h2 class="section-title"><i class="fa {{ .Site.Params.events.icon }}"></i>{{ i18n "events" }}</h2>
        <div class="intro">
                <p>{{ with .Site.Params.events.intro }}{{ . | markdownify }}{{ end }}</p>
            </div><!--//intro-->
                {{ range .Site.Params.events.list }}
        <div class="item">
            <p class="project-title"><a href="{{ .url }}">{{ .event }}{{ if .title }} - {{ end }}{{ .title }}</a></p>
            <span class="project-tagline">
                    {{ with .role }}{{ . | markdownify }}{{ end }} at this {{ with .type }}{{ . | markdownify }}{{ end }}<br/>
                    {{ i18n "where" }}: {{ with .location }}{{ . | markdownify }}{{ end }}<br/>
                    {{ i18n "when" }}: {{ with .date }}{{ . | markdownify }}{{ end }}
                </span>
        </div><!--//item-->
        {{ end }}
    </section><!--//section-->
    