<section class="section projects-section">
    <h2 class="section-title"><i class="fa {{ .Site.Params.patents.icon }}"></i>{{ i18n "patents" }}</h2>
    <div class="intro">
        <p>{{ with .Site.Params.patents.intro }}{{ . | markdownify }}{{ end }}</p>
    </div><!--//intro-->
    {{ range .Site.Params.patents.list }}
    <div class="item">
        <p class="project-title"><a href="{{ .url }}">{{ .title }}</a></p>
        <span class="project-tagline">{{ with .tagline }}{{ . | markdownify }}{{ end }}</span>
    </div><!--//item-->
    {{ end }}
</section><!--//section-->
