<section class="section projects-section">
    <h2 class="section-title"><i class="fa {{ .Site.Params.publications.icon }}"></i>{{ i18n "publications" }}</h2>
    {{ range .Site.Params.publications.list }}
    <div class="item">
        <p class="project-title"><a href="{{ .url }}">{{ .title }}</a></p>
        <span class="project-tagline">
            {{ with .publication }}{{ . | markdownify }}{{ end }}, {{ .date }}
        </span>
    </div><!--//item-->
    {{ end }}
</section><!--//section-->
